/* 1) for MOBILE version */
:root{
  --clr-accent-400: hsl(12, 88%, 59%) ;
  --clr-accent-100: hsl(13, 100%, 96%) ;
  
  --clr-primary-400: hsl(228, 39%, 23%) ;

  --clr-neutral-100: hsl(232, 12%, 13%) ;
  --clr-neutral-900: hsl(0 0% 0%);

  --ff-primary: 'Be Vietnam Pro', sans-serif ;

  --ff-body:var(--ff-primary);
  --ff-heading:var(--ff-primary);

  --fw-regular:400;
  --fw-semi-bold:500;
  --fw-bold:700;

  --fs-300:0.8125rem;
  --fs-400:0.875rem;
  --fs-500:0.9375rem;
  --fs-600:1rem;
  --fs-700:1.875rem;
  --fs-800:2.5rem; 
  --fs-900:3.5rem;

  --fs-body:var(--fs-400);
  --fs-button:var(--fs-300);
  --fs-nav:var(--fs-500);
  --fs-primary-heading:var(--fs-800);
  --fs-secondary-heading:var(--fs-700);
}

/*2. for desktop version*/
@media (min-width:50em){
  :root{
    --fs-body:var(--fs-500);
    --fs-nav:var(--fs-300);
    --fs-primary-heading:var(--fs-900);
    --fs-secondary-heading:var(--fs-800);
  }
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
*{
  margin:0; 
  padding:0;
  font: inherit;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
body{
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*3.  Utility classes*/
.text-primary-400 {color: var(--clr-primary-400)}
.text-accent-400  {color: var(--clr-accent-400)}
.text-accent-100  {color: var(--clr-accent-100)}
.text-neutral-100 {color: var(--clr-neutral-100)}
.text-neutral-900 {color: var(--clr-neutral-900)}

.bg-primary-400{
  background-color: var(--clr-primary-400)
}
.bg-accent-400{
  background-color: var(--clr-accent-400)
}
.bg-accent-100{
  background-color: var(--clr-accent-100)
}
.bg-neutral-100{
  background-color: var(--clr-neutral-100)
}
.bg-neutral-900{
  background-color: var(--clr-neutral-900)
}
.fw-bold{
  font-weight: var(--fw-bold);
}
.fw-semi-bold{
  font-weight: var(--fw-semi-bold);
}
.fw-regular{
  font-weight: var(--fw-regular);
}
.fs-primary-heading{
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading{
  font-size: var(--fs-secondary-heading);
}

.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }